<table class="table table-responsive">
    <thead>
        <tr>
            <th>Shop Name</th>
            <th>Branch</th>
            <th>Manager</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Daraj</td>
            <td>Bashundhara</td>
            <td>John</td>
            <td>01xxxxxxxxx</td>
            <td>Address</td>
            <td>
                <select class="table-select form-control">
                    <option selected>Public</option>
                    <option>Edit</option>
                    <option>Archive</option>
                    <option>Disable</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>