<table class="table table-responsive">
    <thead>
        <tr>
            <th>S.L</th>
            <th>Name</th>
            <th>Type</th>
            <th>View</th>
            <th>Red</th>
            <th>EX Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Daraj Offer</td>
            <td>Coupon</td>
            <td>230</td>
            <td></td>
            <td>02/01/17</td>
            <td>
                <select class="table-select form-control">
                    <option selected>Edit</option>
                    <option>Publish</option>
                    <option>Disable</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>