<table class="table table-responsive">
    <thead>
        <tr>
            <th>Sponsor ID</th>
            <th>Name</th>
            <th>View</th>
            <th>Red</th>
            <th>Sponsor Till</th>
            <th>Price</th>
            <th>Payment Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Daraj Offer</td>
            <td>230</td>
            <td></td>
            <td>02/01/17</td>
            <td>300</td>
            <td>Paid</td>
            <td>
                <select class="table-select form-control">
                    <option selected>Public</option>
                    <option>Sent</option>
                    <option>Archive</option>
                    <option>Disable</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>