{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}


    <!-- Contact Form Start -->

    <div class="contact-wrapper">
        <div class="contact-wrapper-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-title">
                                        <h6>Contact Us</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="post-comment-form-group">
                                        <form action="#" method="post" id="cbx-contact-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" name="cbxname" placeholder="Name*" class="form-control" required aria-required="true">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="email" name="cbxemail" placeholder="Email*" class="form-control" required aria-required="true">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="subject" placeholder="Subject" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea cols="30" name="cbxmessage" rows="6" placeholder="Message*" class="form-control" required></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="submit" value="Send Your Message" class="btn btn-block btn-brand btn-lg">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="contact-hotline">
                                        <div class="hotline-content">
                                            <p>HOTLINE</p>
                                            <p>+94 3217 33221</p>
                                        </div>
                                        <div class="hotline-thumb">
                                            <img src="http://placehold.it/3405x2919" alt="" class="img-responsive img-rounded">
                                        </div>
                                    </div>

                                    <div class="contact-info-wrapper">
                                        <h6>Address:</h6>
                                        <p>House: 149, Road: 7, Block: I, Bashundhara R/A, Dhaka-1229</p>
                                        <h6>Contact Info:</h6>
                                        <p><i class="fa fa-phone"></i>8801521-200442, <i class="fa fa-phone"></i>8801710-608387</p>
                                        <p><i class="fa fa-envelope"></i>info@offernewsbd.com, <i class="fa fa-globe"></i>www.offernewsbd.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Form End -->

    <!-- Call to action start -->

<div class="call-to-action-wrapper">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <div class="call-to-action-content">
                    <p>Download <a href="#">CouponZ</a> Apps For <br>
                        Get Coupon Everywhere!</p>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="call-to-action-button text-center">

                    <ul>

                        <li class="apple-store">
                            <a href="#">
                                <i class="fa fa-apple"></i>
                                <div class="cta-btn-content">
                                    Download <span>From App Store</span>
                                </div>
                            </a>
                        </li>
                        <li class="google-play">
                            <a href="#">
                                <i class="fa fa-android"></i>
                                <div class="cta-btn-content">
                                    Download <span>From Play Store</span>
                                </div>
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- Call to action end -->

{% endblock %}

{% block script %}

    {% endblock %}