
{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}

    <!-- Dashboard Wrapper Start -->
    <div class="dashboard-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9 no-padding-left-right">
                    <div class="dashboard-title text-center">
                        <h6>Welcome back to CouponZ</h6>
                    </div>
                </div>
                <div class="col-md-3 no-padding-left-right">
                    <div class="dashboard-submit-coupon-btn text-center">
                        <a href="submit-coupon.html">Submit Coupon</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 no-padding-left-right">
                    <div class="dashboard-nav">
                        <ul>
                            <li class="active"><a href="#"><img src="{% static 'assets/img/dash-icon/1.png' %}" alt="Profile" class="">Profile</a></li>
                            <li><a href="#"><img src="{% static 'assets/img/dash-icon/2.png' %}" alt="Coupon" class="">Coupon<span>09</span></a></li>
                            <li><a href="#"><img src="{% static 'assets/img/dash-icon/3.png' %}" alt="Deal" class="">Deal</a></li>
                            <li><a href="#"><img src="{% static 'assets/img/dash-icon/4.png' %}" alt="Unpublish" class="">Unpublish<span>20</span></a></li>
                            <li><a href="#"><img src="{% static 'assets/img/dash-icon/5.png' %}" alt="Schedule" class="">Schedule</a></li>
                            <li><a href="#"><img src="{% static 'assets/img/dash-icon/6.png' %}" alt="Upcoming" class="">Upcoming</a></li>
                            <li><a href="#"><img src="{% static 'assets/img/dash-icon/7.png' %}" alt="Configure" class="">Configure</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 no-padding-left-right">
                    <div class="dashboard-wrap">
                        <div class="dashboard-table-attr-type">
                            <ul>
                                <li class="active"><a href="#">New</a></li>
                                <li><a href="#">Deliverd</a></li>
                                <li><a href="#">Cancelled</a></li>
                                <li><a href="#">All</a></li>
                            </ul>
                        </div>

                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>S.L</th>
                                <th>Name</th>
                                <th>Offer</th>
                                <th>Applied</th>
                                <th>Feedback</th>
                                <th>EX Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th scope="row">1</th>
                                <td>Daraj Offer</td>
                                <td>up to 90%</td>
                                <td>230</td>
                                <td>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </td>
                                <td>02/01/17</td>
                                <td>
                                    <select class="table-select form-control">
                                        <option selected>Public</option>
                                        <option>Sent</option>
                                        <option>Archive</option>
                                        <option>Disable</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Ajkerdeal Offer</td>
                                <td>up to 50%</td>
                                <td>254</td>
                                <td>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </td>
                                <td>12/01/19</td>
                                <td>
                                    <select class="table-select form-control">
                                        <option>Public</option>
                                        <option selected>Sent</option>
                                        <option>Archive</option>
                                        <option>Disable</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Amazone 80% off</td>
                                <td>Buy 1 Get 1</td>
                                <td>555</td>
                                <td>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </td>
                                <td>22/01/19</td>
                                <td>
                                    <select class="table-select form-control">
                                        <option>Public</option>
                                        <option>Sent</option>
                                        <option selected>Archive</option>
                                        <option>Disable</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Black friday</td>
                                <td>Free Gift</td>
                                <td>87</td>
                                <td>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </td>
                                <td>30/01/18</td>
                                <td>
                                    <select class="table-select form-control">
                                        <option>Public</option>
                                        <option selected>Sent</option>
                                        <option>Archive</option>
                                        <option>Disable</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Bogo offer</td>
                                <td>Buy 1 Get 1</td>
                                <td>900</td>
                                <td>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </td>
                                <td>25/01/18</td>
                                <td>
                                    <select class="table-select form-control">
                                        <option>Public</option>
                                        <option>Sent</option>
                                        <option>Archive</option>
                                        <option selected>Disable</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Wrapper End -->

{% endblock %}

{% block script %}

    {% endblock %}