{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}

    <!-- Contact Form Start -->

    <div class="contact-wrapper">
        <div class="contact-wrapper-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-form-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-title">
                                        <h6>Sign In Your Account</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="post-comment-form-group">
                                        <form action="" method="POST">
                                            {%  csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="user" placeholder="username*" class="form-control" required aria-required="true">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="password" name="password" placeholder="Password*" class="form-control" required aria-required="true">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="submit" value="Sign In" class="btn btn-block btn-brand btn-lg">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <a href="#" class="pull-right">Forgot Password?</a>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="login-wrapper text-center">
                                        <p><span>or</span> login with</p>
                                        <div class="login-with-social">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="askAccount-wrapper text-center">
                                        <a href="signup.html">Haven&apos;t An Account?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Form End -->

{% endblock %}

{% block script %}

    {% endblock %}