{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
    <!-- Contact Form Start -->

    <div class="contact-wrapper">
        <div class="contact-wrapper-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-form-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-title">
                                        <h6>Create Your Account</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="post-comment-form-group">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            {{ form.as_p }}

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-block btn-brand btn-lg">Sign up</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="login-wrapper text-center">
                                        <p><span>or</span> Connect with</p>
                                        <div class="login-with-social">
                                            <ul>
                                                <li><a href="https://www.facebook.com/offernewsbd"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="askAccount-wrapper text-center">
                                        <a class="btn btn-link" href="{%  url 'login' %}">Have an account? Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Form End -->

{% endblock %}

{% block script %}
    <script>
    $(document).ready(function(){
        $("#id_password1").addClass("form-control").attr("placeholder","Enter password");
        $("#id_password2").addClass("form-control").attr("placeholder","Confirm password");
    });
    </script>
{% endblock %}