{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}

    <!-- Single Coupon Wrapper Start -->
    <div class="single-coupon-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="single-coupon-thumb">
                        <img src="{{ deal.postImage.url }}" alt="Coupon" class="img-responsive">
                    </div>
                    <div class="coupon-social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-vimeo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="single-coupon-content">
                        <h5>{{ deal.title }}</h5>
                        <p>{{ deal.description }}</p>
                        <p class="expiring-time"><span class="btn btn-brand coupon-type">{{ deal.comName }}</span><i class="fa fa-clock-o"></i> Expired on: {{deal.expiredOn}}</p>

                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="single-coupon-button">
                        <a class="btn btn-brand btn-lg btn-block" type="button" data-toggle="modal" data-target="#coupon-deal">Get Deal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Coupon Wrapper End -->


    <!-- Related Deal Section Start -->

    <div class="new-deal-wrapper">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-xs-12">
                    <h3 align="center" class="section-heading">Related Deal</h3>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="new-deal-carousel" class="owl-carousel owl-theme new-deal-list">
                        <!-- releted Single Item Start -->
                        {% for r in related %}
                            <div class="item deal-item">
                            <div class="deal-thumb">

                            <!-- Query for choosing right single page dea or coupon -->
                                <a href="
                                {% if r.offerType == 'D' %}
                                    {%  url 'deal' id=r.id %}
                                {% else %}
                                    {%  url "coupon" id=r.id %}
                                {% endif %}">
                                    <img src="{{ r.postImage.url }}" alt="" class="img-responsive"></a>
                                <div class="deal-badge">
                                    {{ r.badgeType }}
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                        <span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>
                                    </div>
                                </div>

                            </div>
                            <div class="deal-content">
                                <h6><a href="
                                {% if p.offerType == 'D' %}
                                    {%  url 'deal' id=r.id %}
                                {% else %}
                                    {%  url 'coupon' id=r.id %}
                                {% endif %}">
                                    {{ r.title }} </a></h6>
                                <p>{{ r.description }}</p>
                                <div class="deal-content-bottom">
                                    <p><i class="fa fa-clock-o"></i> Expired: {{r.expiredOn}}</p>
                                    <a type="button" data-toggle="modal" data-target="#coupon-code" class="btn btn-sm">Get It</a>
                                </div>
                            </div>
                        </div>
                        {%  endfor %}
                        <!-- related Deal Single Item End -->

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Releted Deal Section End -->


<!-- Modal -->
<div id="coupon-deal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
                <h4 class="modal-title">{{ deal.title }}</h4>
            </div>
            <div class="modal-body">
                <div class="coupon-modal-content">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="single-coupon-thumb">
                                <img src="{{ deal.postImage.url }}" alt="Coupon" class="img-thumbnail img-responsive">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p>{{ deal.description }}</p>
                            <a class="btn btn-brand" href="{{  deal.goingUrl }}" target="_blank">Go To Store</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <img src="http://placehold.it/1000x172" alt="Coupon" class="img-responsive">
            </div>
        </div>

    </div>
</div>



{% endblock %}

{% block script %}

    {% endblock %}