{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}

    <!-- Single Coupon Wrapper Start -->
    <div class="single-coupon-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="single-coupon-thumb">
                        <img src="http://placehold.it/600x400" alt="Coupon" class="img-responsive">
                    </div>
                    <div class="coupon-social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-vimeo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single-coupon-content">
                        <h5>Special Flash Sale</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p class="expiring-time"><span class="btn btn-brand coupon-type">Code</span><i class="fa fa-clock-o"></i> 0 days, 0h Remaining</p>

                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="single-coupon-button">
                        <a class="btn btn-brand btn-lg btn-block" type="button" data-toggle="modal" data-target="#coupon-code">Get Code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Coupon Wrapper End -->

    
<!-- Modal -->
<div id="coupon-code" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
                <h4 class="modal-title">Special Flash Sale</h4>
            </div>
            <div class="modal-body">
                <div class="coupon-modal-content">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="single-coupon-thumb">
                                <img src="http://placehold.it/600x400" alt="Coupon" class="img-thumbnail img-responsive">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p>COPY THIS CODE AND USE AT CHECKOUT</p>
                            <div class="input-group">
                                <input type="text" class="form-control" autocomplete="off" readonly value="HFRESH10">
                                <div class="input-group-btn">
                                    <button class="clipboard btn btn-default" data-clipboard-text="HFRESH10"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy to Clipboard</button>
                                </div>
                            </div>
                            <a class="btn btn-brand pull-right" href="#">Go To Store</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <img src="http://placehold.it/1000x172" alt="Coupon" class="img-responsive">
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="coupon-printable" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
                <h4 class="modal-title">Special Flash Sale</h4>
            </div>
            <div class="modal-body">
                <div class="coupon-modal-content">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="single-coupon-thumb">
                                <img src="http://placehold.it/600x400" alt="Coupon" class="img-thumbnail img-responsive">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p>PRINT THIS COUPON AND REDEEM IT IN-STORE</p>
                            <a class="btn btn-brand" href="#">Print Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <img src="http://placehold.it/1000x172" alt="Coupon" class="img-responsive">
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="coupon-deal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
                <h4 class="modal-title">Special Flash Sale</h4>
            </div>
            <div class="modal-body">
                <div class="coupon-modal-content">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="single-coupon-thumb">
                                <img src="http://placehold.it/600x400" alt="Coupon" class="img-thumbnail img-responsive">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p>DEAL ACTIVATED, NO COUPON CODE REQUIRED!</p>
                            <a class="btn btn-brand" href="#">Go To Store</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <img src="http://placehold.it/1000x172" alt="Coupon" class="img-responsive">
            </div>
        </div>

    </div>
</div>


{% endblock %}

{% block script %}

    {% endblock %}