{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}

    <!-- trending stores start -->
    <div class="trending-stores-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Trending Stores</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- trending stores end -->

    <!-- trending stores start -->
    <div class="trending-stores-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">All Stores</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="http://placehold.it/626x626" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="single-store.html" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination-wrapper">
    <ul class="pagination">
        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i>Previous</a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"> Next<i class="fa fa-angle-right"></i></a></li>
    </ul>
</div>
                </div>
            </div>
        </div>
    </div>
    <!-- trending stores end -->


{% endblock %}

{% block script %}

    {% endblock %}