{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}

    <!-- trending stores start -->
    <div class="trending-stores-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Trending Stores</h2>
                </div>
            </div>
            <div class="row">
                {% for s in featuredStoreComPage %}
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="{{ s.comId.comImage.url }}" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="{%  url 'singleStore' slug=s.comId.slug %}" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                {%  endfor %}
            </div>
        </div>
    </div>
    <!-- trending stores end -->

    <!-- trending stores start -->
    <div class="trending-stores-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">All Stores</h2>
                </div>
            </div>
            <div class="row">
                {% for s in store %}
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding-left-right">
                    <div class="single-store">
                        <img src="{{ s.comImage.url }}" alt="Store" class="img-responsive">
                        <div class="store-btn-wrapper">
                            <a href="{%  url 'singleStore' slug=s.slug %}" class="btn btn-sm">Visit Store</a>
                        </div>
                    </div>
                </div>
                {%  endfor %}

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination-wrapper">
    <!--Pagination starts-->
    {% if store.has_other_pages %}
  <ul class="pagination">
        {% if store.has_previous %}
            <li><a href="?page={{ store.previous_page_number }}"><i class="fa fa-angle-left"></i>Previous</a></li>
        {% else %}
            <li class="disabled"><a><i class="fa fa-angle-left"></i>Previous</a></li>
        {% endif %}

        {% for i in store.paginator.page_range %}
            {% if store.number == i %}
                <li class="active"><a>{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
            {% if store.has_next %}
                <li><a href="?page={{ store.next_page_number }}">Next<i class="fa fa-angle-right"></i></a></li>
            {% else %}
                <li class="disabled"><a>Next<i class="fa fa-angle-right"></i></a></li>
            {% endif %}
  </ul>
    {% endif %}
    <!--Pagination Ends-->

</div>
                </div>
            </div>
        </div>
    </div>
    <!-- trending stores end -->


{% endblock %}

{% block script %}

    {% endblock %}