{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
    <!-- Contact Form Start -->

    <div class="contact-wrapper">
        <div class="contact-wrapper-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-form-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-title">
                                        <h6>Submit Offer <a class="modalAnchor" type="button" data-toggle="modal" data-target="#couponInfo"><i class="fa fa-question-circle"></i></a> </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="post-comment-form-group">
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            {{ form.as_p }}


{#                                            <div class="row">#}
{#                                                <div class="col-md-12">#}
{#                                                    <div class="checkbox checkbox-primary">#}
{#                                                        <input id="acceptTerms" type="checkbox">#}
{#                                                        <label for="acceptTerms">#}
{#                                                            Accept#}
{#                                                        </label>#}
{#                                                        <a target="_blank" href="/Terms/">Terms &amp; Condition</a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="submit" value="Submit" class="btn btn-block btn-brand btn-lg">
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="couponInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
                    <h4 class="modal-title">Coupon Tips</h4>
                </div>
                <div class="modal-body">
                    <div class="submit-coupon-content">
                        <h6>Submit Coupon Tips #1</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#x2019;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                        <h6>Note before submit:</h6>
                        <ol>
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</li>
                            <li>Eiusmod tempor incididunt ut labore et <a href="https://demo.smooththemes.com/html/WP-Coupon-HTML/page_submit.html#">dolore magna</a> aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>
                            <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</li>
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</li>
                            <li>Eiusmod tempor incididunt ut labore et <a href="https://demo.smooththemes.com/html/WP-Coupon-HTML/page_submit.html#">dolore magna</a> aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>
                            <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</li>
                        </ol>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="featureInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
                    <h4 class="modal-title">What is feature?</h4>
                </div>
                <div class="modal-body">
                    <div class="submit-coupon-content">
                        <h6>Description</h6>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}

    <script>
        function is_Feature(obj) {

            var item = $(obj).parent('.checkbox');

            if($('#isFeature:checkbox:checked').length > 0) {


                console.log('checked');
                $('.featureProperty').show();

                item.css('margin-top', '10px');
            }
            else {

                console.log('un-checked');
                $('.featureProperty').hide();

                item.css('margin-top', '0px');
            }
        }
    </script>

    {% endblock %}