{% extends 'headerFooter.html' %}
{% load static %}
{% block title %}Offer News BD{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
    <!-- Contact Form Start -->

    <div class="contact-wrapper">
        <div class="contact-wrapper-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-form-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-title">
                                        <h6>Submit Coupon <a class="modalAnchor" type="button" data-toggle="modal" data-target="#couponInfo"><i class="fa fa-question-circle"></i></a> </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="post-comment-form-group">
                                        <form action="#" method="post">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <select name="coupon_store" class="form-control">
                                                        <option>Select Store *</option>
                                                        <option>Lorem</option>
                                                        <option>Ipsum</option>
                                                        <option>Eiusmod</option>
                                                        <option>Tempor</option>
                                                        <option>Incididunt</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <select name="coupon_cat" class="form-control">
                                                        <option>Select Category *</option>
                                                        <option>Lorem</option>
                                                        <option>Ipsum</option>
                                                        <option>Eiusmod</option>
                                                        <option>Tempor</option>
                                                        <option>Incididunt</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <select id="coupon_type" name="coupon_type" class="form-control">
                                                        <option value="code">Coupon Code</option>
                                                        <option value="sale">Sale</option>
                                                        <option value="print">Printable</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row" id="coupon_code_wrapper">
                                                <div class="col-md-12">
                                                    <input id="coupon_code" type="text" name="coupon_code" placeholder="Code" class="form-control" required aria-required="true">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="coupon_image_url" placeholder="Image URL" class="form-control" required aria-required="true">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="coupon_aff_url" placeholder="Coupon Aff URL" class="form-control" required aria-required="true">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="coupon_expires" placeholder="Exp Date : dd/mm/yyyy" class="form-control datePickr" required aria-required="true">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="previous" type="checkbox">
                                                        <label for="previous">
                                                            Don&apos;t know the expiration date.
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="coupon_title" placeholder="Offer Title" class="form-control" required aria-required="true">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea cols="30" name="coupon_description" rows="6" placeholder="Offer Description" class="form-control" required></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="acceptTerms" type="checkbox">
                                                        <label for="acceptTerms">
                                                            Accept
                                                        </label>
                                                        <a href="#">Terms &amp; Condition</a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="submit" value="Submit" class="btn btn-block btn-brand btn-lg">
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="couponInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
                    <h4 class="modal-title">Coupon Tips</h4>
                </div>
                <div class="modal-body">
                    <div class="submit-coupon-content">
                        <h6>Submit Coupon Tips #1</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#x2019;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                        <h6>Note before submit:</h6>
                        <ol>
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</li>
                            <li>Eiusmod tempor incididunt ut labore et <a href="https://demo.smooththemes.com/html/WP-Coupon-HTML/page_submit.html#">dolore magna</a> aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>
                            <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</li>
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</li>
                            <li>Eiusmod tempor incididunt ut labore et <a href="https://demo.smooththemes.com/html/WP-Coupon-HTML/page_submit.html#">dolore magna</a> aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>
                            <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</li>
                        </ol>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}

    {% endblock %}